input, textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #E5E5E5;
	width: 200px;
	color: #999999;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;		
}

textarea {
	width: 100%;
	height: 150px;
	max-width: 400px;
	line-height: 18px;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	border-color: 1px solid #C9C9C9;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;	
}

.form label {
	margin-right: 10px;
	color: #999999;
}

#email{
	margin-right: 28px;
}

#name{
	margin-right: 24px;
}

.submit input {
	width: 40vh; 
	height: 40px;
	background-color: #474E69; 
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;		
}

.submit input:hover{
	transition: 0.3s;
	background-color: rgb(24, 24, 24);
	color: white;
}

.icon {
	font-size: 2em;
	color: black;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-left: auto;
    margin-right: 2%;
}

#banner{
	text-align: center;
}

#logo{
	margin-left: 34%;
}