@import url('https://fonts.googleapis.com/css?family=Tinos');

.paral {
    min-height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.paralsec {
    background-image: url("../img/parallax.jpg");
}
    
#header{
    font-family: 'Tinos', serif;
    font-size: 4vh;
}

hr.side{
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 22px 0 21px;
    height: 0;
}

.breadcrumb{
    background-color: white;
    margin-top: -30px;
    margin-bottom: 0;
}