.barebowls-logo{
    height: 50px;
    float: left;
    margin-left: 3vh;
    margin-right: 3vh;
}

.sqaurespace-logo{
    height: 128px;
    float: right;
    margin-right: 3vh;
}

.mel-logo{
    height: 180px;
    float: left;
    margin-left: 3vh;
    margin-right: 3vh;
}